.home {
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.navContainer > a{
    text-decoration: none;
    padding: 10px;
}

.active{
    color: var(--mantine-color-grape-yellow-7);
}

.notActive{
    color: var(--mantine-color-water-blue-7);
}

.navContainer > a:hover{
    color: var(--mantine-color-grape-yellow-9);
}